@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-size: 2vw;
    font-family: 'Times New Roman', serif;
}

:root {
    --body-font-size-percentage: 100%;
}


#Order {
    color: white;
    background-color: black;
    margin-left: 4em;
    margin-right: 4em;
    border: 2px dotted white;
 }
 
.ele {
    font-weight: bold;
 }

.wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    padding: 0.5em;
}

#Information {
    color: black;
    margin-left: 4em;
    margin-right: 4em;
    border: 2px dotted black;
 }

button:hover {
    background-color: #aca3a3;
}

button {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0.5em;
}

p,h2 {
    margin-left: 1%;
}

h1 {
    font-size: 2em;
    text-align: center;

    position: absolute; 
    top: 1.5em;
    bottom: 1.5em;
    left: 5.5em;
    right: 5.5em;
}

header {
    width: auto;
    margin-left: 4em;
    margin-right: 4em;
    height: 10em;
    opacity: 0.9;
    overflow: hidden;
}

input[type="text"], input[type="number"], input[type="email"] {
    width: 25em;
    padding: 0.5em 0.5em;
}